@font-face {
    font-family: 'GTWalsheim';
    src: url('/fonts/GTWalsheim/GTWalsheim.eot');
    src: url('/fonts/GTWalsheim/GTWalsheim.eot') format('embedded-opentype'),
         url('/fonts/GTWalsheim/GTWalsheim.woff2') format('woff2'),
         url('/fonts/GTWalsheim/GTWalsheim.woff') format('woff'),
         url('/fonts/GTWalsheim/GTWalsheim.ttf') format('truetype'),
         url('/fonts/GTWalsheim/GTWalsheim.svg#GTWalsheim') format('svg');
}

html, body{
    -webkit-overflow-scrolling: touch
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background: #ccc;
}
 
::-webkit-scrollbar-thumb {
    background: $primary-color;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    outline: none;
}

[type="submit"],
button{
    outline: none;
}

select.select7{
    visibility: hidden;
}

table{
    width: 100%;
    table-layout: fixed;
    border-spacing: 9px 7px;
    border-collapse: separate;
    th, td{
        padding: 4px 10px;
        border: 1px solid #e5e5e5;
        text-align: center;
    }
    th{
        background: $black;
        color: $white;
        padding: 10px 15px;
        font-weight: 400;
    }
}

.button{
    letter-spacing: 4px;
}

.mCSB_scrollTools{
    .mCSB_dragger{
        &:hover .mCSB_dragger_bar{
            background-color: darken($primary-color, 5);
        }
        .mCSB_dragger_bar{
            width: 1px;
            background-color: $primary-color !important;
            &::after{
                content: '';
                position: absolute;
                top: calc(50% - 10.5px);
                left: -11px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 2px solid $primary-color;
                background: radial-gradient($primary-color 4px, $white 5px);
            }
        }
    }
    .mCSB_draggerRail{
        width: 1px;
        background-color: $black;
    }
}

.wrap{
    height: 100vh;   
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    &_main{
        background: url(../img/bg.png) center no-repeat;
        background-size: contain;
    }
    &_card{
        background: url(../img/bg_card.png) no-repeat;
        background-position: center bottom calc(50vh - 410px);
    }
    &_wreath{
        background: url(../img/bg_wreath.png) no-repeat;
        background-position: right calc(50vw - 904px) center;
    }
    &_how{
        background: url(../img/bg_how.png) center no-repeat;
    }
    &_price{
        background: url(../img/bg_price.png) center no-repeat;       
    }
}

.header{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    &_accent{
        font-size: 152px;
        line-height: 0.3;
        margin-bottom: 38px;
    }
    &_small{
        font-size: 18.5px;
    }
    &_medium{
        font-size: 50px;
    }
    &_large{
        font-size: 78px;
    }
}

.head{
    height: 52px;
    position: relative;
    margin: 0 55px;
    margin-top: 48px;
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_logo{

    }
    &_hamb{
        // flex: 1 1 52px;
        min-width: 52px;
        height: 52px;
        cursor: pointer;
        position: relative;
        transition: 300ms;
        z-index: 2;
        &::before{
            content: '';
            position: absolute;
            top: 15px;
            left: 7px;
            width: 37px;
            height: 1px;
            background-color: $black;
            transition: 300ms;
        }
        &::after{
            @extend .head_hamb::before;
            top: auto;
            bottom: 15px;
            width: 20px;
        }
        &.is_active{
            background-color: $black;
            box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.3);
            &::before, &::after, .head_hamb_inner{
                width: 37px;
                background-color: $white;
            }
        }
        &_inner{
            @extend .head_hamb::before;
            width: 30px;
            top: 25px;
        }
    }
    &_nav{
        position: absolute;
        left: 0;
        top: 25%;
        max-width: 400px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 48px;
        text-transform: uppercase;
        transition: 300ms;
        z-index: -1;
        opacity: 0;
        letter-spacing: 2px;
        &.is_active{
            transform: translateX(45px);
            z-index: 1;
            opacity: 1;
        }
        .menu{
            flex-wrap: wrap;
        }
        li{
            margin-left: 20px;
            &:hover, &.active{
                a{
                    box-shadow: 0 1px 0 $black;
                }
            }
            a{
                color: $black;
                transition: 300ms;
                padding: 6px 12px;
            }
        }
    }
    &_social{
        position: absolute;
        top: 80px;
        left: 7px;
        margin: 0;
        list-style: none;
        a{
            display: block;
            width: 22px;
            height: 22px;
            margin-bottom: 16px;
            &:hover .cls-1{
                fill: $primary-color;
            }
        }
        .cls-1{
            fill: $black;
            transition: 300ms;
        }
    }
    &_lang{
        width: auto;
        text-transform: uppercase;
    }
}

.content{
    flex-grow: 1;
    margin: 0 120px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main{   
    &_header{
        z-index: 2;
        width: 254px;
        margin-right: -70px;
        text-align: right;
        .header{
            margin-bottom: 32px;
        }
        .button{
            width: 100%;
        }
    }
    &_content{
        position: relative;
        text-align: right;
        &_how{
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: $black !important;
            margin-top: 20px;
            display: inline-block;
            letter-spacing: 4px;
            img{
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-top: -2px;
            }
        }
    }
    &_video{
        display: block;
        width: 100%;
        &_container{
            position: relative;
            width: 910px;
            height: 430px;
            overflow: hidden;
            display: flex;
            align-items: center;
            &:hover{
                .paused{
                    opacity: 0.42;
                    z-index: 2;
                }
            }
        }
        &_button {
             $duration: 300ms;
             $sin: 0.866;
             $size: 105px;
             $border: $size/3.95;
             border: $size*0.12 solid $white;
             border-radius: 50%;
             padding: $size*0.45;
             width: $size;
             height: $size;
             font-size: 0;
             white-space: nowrap;
             text-align: center;
             cursor: pointer;
             position: absolute;
             left: 50%;
             top: 50%;
             transform: translate(-50%,-50%);
             box-sizing: content-box;
             opacity: 0.42;
             &:hover{
                transform: scale(1.1) translate(-45%, -45%);
                transform-origin: center;
             }
             &,
             &::before,
             &::after {
                content: '';
                display: inline-block;
                vertical-align: middle;
                transition: all $duration;
                transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
             }
             &::before {
                 margin-left: $size/6;
                 border-left: $size*$sin/2 solid $white;
                 border-top: $border solid transparent;
                 border-bottom: $border solid transparent;
                 border-right: 0px solid transparent;
                 height: $size - 2*$border;
             }
             &::after {
                 margin: 0;
                 border-left: $size*$sin/2.1 solid $white;
                 border-top: $border solid transparent;
                 border-bottom: $border solid transparent;
                 height: 0px;
                 transform: translateX(-0.3px)
             }
             &.paused {
                opacity: 0;
                z-index: -1;
                &::before,
                &::after {
                    margin: 0;
                    border-left: $size*0.25 solid $white;
                    border-top: 0 solid transparent;
                    border-bottom: 0 solid transparent;
                    height: $size;
                }
                &::before {
                    border-right: $size*0.3 solid transparent;
                }
             }
         }
    }
}

.about{
    padding-top: 30px;
    &_content{
        width: 390px;
        margin-right: -125px;
        z-index: 2;
        // align-self: flex-end;
        margin-bottom: 14px;
    }
    &_descr{
        font-size: 20px;
        line-height: 1.3;
        margin-top: 15px;
        margin-bottom: 33px;
    }
    &_card{
        width: 680px;
        height: 480px;
        box-shadow: 0 0 65px rgba(0, 0, 0, 0.15);
        background: $white;
        position: relative;
        overflow: hidden;
        background: url(../img/card.svg) no-repeat;
        background-size: 832px;
        background-attachment: fixed;
        background-position: right calc(50vw - 546px) bottom calc(50vh - 410px);
    }
}

.check{
    padding-top: 30px;
    &_content{
        width: 340px;
        .header{
            margin-bottom: 4px;
        }
    }
    &_descr{
        letter-spacing: -0.8px;
        text-align: justify;
        margin-right: 25px;
    }
    &_steps{
        counter-reset: ch_step;
        margin-right: 25px;
    }
    &_step{
        counter-increment: ch_step;
        margin-top: 20px;
        &_title{
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid $black;
            margin-bottom: 2px;
            &::after{
                content: counter(ch_step);
                font-size: 16px;
                margin-left: 10px;
            }
        }
        &_descr{
            text-align: right;
            line-height: 1.5;
        }
    }
    &_card{
        &_outer{
            position: relative;
            margin-left: 72px;
            margin-right: 78px;
            .button{
                position: absolute;
                z-index: 2;
                bottom: -66px;
                right: -56px;
            }
        }
        width: 620px;
        height: 440px;        
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 48px;
            left: -56px;
            width: 644px;
            height: 100%;
            background: $white;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
            z-index: 1;
        }
        &::after{
            @extend .check_card::before;
            width: 100%;
            height: 430px;
            top: -30px;
            left: 56px;
        }
        &_img{
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: relative;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
            z-index: 2;
            background: $white url(../img/card_check.svg) no-repeat;
            background-size: 1462px;
            background-attachment: fixed;
            background-position: right calc(50vw - 910px) center;
        }
    }
}

.how{
    padding-top: 30px;
    &_header{
        width: 330px;
        margin-right: 40px;
        z-index: 2;
        padding-left: 80px;
        z-index: 2;
    }
    &_card{
        position: relative;
        width: 595px;
        height: 425px;
        margin-top: 54px;
        &::before{
            content: '';
            position: absolute;
            top: -34px;
            left: -96px;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
            background: $white url(../img/bg_how_real.png) center no-repeat;
            background-attachment: fixed;
        }
        &_inner{
            position: relative;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
            background-color: $white;        
            z-index: 2;
            padding: 45px;
            display: flex;
            align-items: center;
        }
    }
    &_steps{
        @extend .check_steps;
        margin: 0;
    }
    &_step{
        @extend .check_step;
        position: relative;
        &:first-child{
            margin: 0;
        }
        &_title{
            @extend .check_step_title;
            margin-bottom: 6px;
            color: #8d4c58;
        }
        &_label{
            position: absolute;
            right: 0;
            top: 8px;
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            text-transform: uppercase;
            padding-left: 20px;
            background-color: $white;
        }
        &_descr{
            @extend .check_step_descr;
        }
    }
}

.price{
    padding-top: 30px;
    &_card{
        position: relative;
        width: 875px;
        height: 237px;
        &_inner{
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: $white;
            box-shadow: 0 0 60px rgba(0, 0, 0, 0.17);
            padding: 23px 13px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 45px;
            left: -60px;
            width: 820px;
            height: 230px;
            background: $white url(../img/bg_price_real.png) center no-repeat;
            background-attachment: fixed;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.17);
        }
        &::after{
            @extend .price_card::before;
            width: 785px;
            top: -58px;
            left: 120px;
        }
        .header{
            position: absolute;
            top: -110px;
            left: -60px;
        }
        .button{
            position: absolute;
            right: -30px;
            bottom: -16px;
        }
        &_hint{
            position: absolute;
            bottom: -65px;
            left: -60px;
        }
    }
}

.start{
    flex-direction: column;
    padding-top: 30px;
    min-height: 565px;
    &_header{
        .header::after{
            content: '';
            display: block;
            margin: auto;
            width: 239px;
            height: 1px;
            background: $black;
            opacity: 0.15;
            margin-top: 10px;
            margin-bottom: 14px;
        }
        &_descr{
            font-family: 'Playfair Display', serif;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            letter-spacing: 10px;
            min-height: 16px;
        }
    }
    &_container{
        width: 100%;
        max-width: 1130px;
        margin: auto;
        margin-top: 25px;
        box-shadow: inset 1px 1px 35px rgba(0, 0, 0, 0.1);
        padding: 45px 70px;
        padding-right: 90px;
    }
    &_cards{
        height: 47vh;
        min-height: 370px;
        .mCSB_container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .start_card{
                opacity: 1;
            }
        }
    }
    &_card{
        max-width: calc(25% - 30px);
        margin: 0 15px;
        margin-bottom: 13px;
        opacity: 0;
        transition: 300ms;
        &_img{
            position: relative;
            border: 1px solid #b3b3b3;
            margin-bottom: 8px;
        }
        &_actions{
            position: absolute;
            right: 0;
            bottom: 0;
            a{
                display: block;
                width: 40px;
                height: 40px;
                background: $black;
                padding: 10px;
                transition: 300ms;
                margin-left: 2px;
                &:hover{
                    background-color: $primary-color;
                }
            }
        }
        &_title{
            min-height: 19px;
        }
    }
}

.footer{
    height: 130px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
}