@font-face {
    font-family: 'GTWalsheim';
    src: url('/fonts/GTWalsheim/GTWalsheim.eot');
    src: url('/fonts/GTWalsheim/GTWalsheim.eot') format('embedded-opentype'),
         url('/fonts/GTWalsheim/GTWalsheim.woff2') format('woff2'),
         url('/fonts/GTWalsheim/GTWalsheim.woff') format('woff'),
         url('/fonts/GTWalsheim/GTWalsheim.ttf') format('truetype'),
         url('/fonts/GTWalsheim/GTWalsheim.svg#GTWalsheim') format('svg');
}


.wrap{
    height: 100vh;
    background: url(/img/bg.png) center no-repeat;
}