doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_card
            include includes/_header
            section.content.actually
                .actually_content
                    .header.header_medium
                        | A postcard actually.
                    .actually_descr
                        | This is a simple postcard. There are millions of these around being sent to millions of recipients. But we added a feature to this card that makes it a postcard actually.
                    a.button(href="./check.html")
                        | CLICK TO OPEN
                .actually_card
            include includes/_footer