doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_wreath
            include includes/_header
            section.content.check
                .check_content
                    .header.header_large
                        | Play with this card.
                    .check_descr
                        | We let you add your personal video messages to an old fashioned postcard and mail it for you. Check it out here:
                    .check_steps
                        .check_step
                            .check_step_title
                                | STEP
                            .check_step_descr     
                                | Download free LOOKSAR APP
                                br
                                | from App Store/Google Play.
                        .check_step
                            .check_step_title
                                | STEP
                            .check_step_descr
                                | Enter this code: r t s f
                                br
                                | and point your smartphone
                                br
                                | at the postcard.
                .check_card_outer
                    .check_card
                        .check_card_img
                    a.button(href="#")
                        | CREATE YOUR CARD NOW
            include includes/_footer