doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_how
            include includes/_header
            section.content.how
                .how_header.animated.fadeInLeft
                    .header.header_large
                        | How it works.
                .how_card
                    .how_card_inner.animated.fadeInUp
                        .how_steps
                            .how_step
                                .how_step_title
                                    | Step
                                .how_step_label
                                    | You
                                .how_step_descr
                                    | Pick a card design + record/add  personal video message.
                            .how_step
                                .how_step_title
                                    | Step
                                .how_step_label
                                    | We
                                .how_step_descr
                                    | Print out and mail your card.
                            .how_step
                                .how_step_title
                                    | Step
                                .how_step_label
                                    | YOUR RECIPIENT
                                .how_step_descr
                                    | Download free LOOKSAR APP, points a smartphone at the card and watches your  video message.
            include includes/_footer