doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap
            include includes/_header
            section.content.main
                .main_header
                    .header
                        | We actually add
                        .header_accent
                            | you
                        | to a postcard
                        .header_small and ship it to your loved ones.
                    a.button(href="./actually.html")
                        | CREATE A CARD NOW
                .main_content
                    .main_video_container
                        video.main_video
                            source(src="./place_video.mp4" type="video/mp4")
                            source(src="./place_video.webm" type="video/webm")
                            | Your browser does not support the video tag.
                            a(href="./place_video.mp4") Download video
                        button.main_video_button
                    a.main_content_how(href="./how.html")
                        img(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MiA1MiI+CiAgICA8Zz4KICAgICAgICA8cGF0aCBkPSJNMjYsMEEyNiwyNiwwLDEsMCw1MiwyNiwyNiwyNiwwLDAsMCwyNiwwWm0wLDQ4LjhBMjIuOCwyMi44LDAsMSwxLDQ4LjgsMjYsMjIuODMsMjIuODMsMCwwLDEsMjYsNDguOFptMCwwIiAvPgogICAgICAgIDxwYXRoIGQ9Ik0yOS4wOSwxNS42M0EyLjY4LDIuNjgsMCwxLDEsMjYuNDEsMTNhMi42OCwyLjY4LDAsMCwxLDIuNjgsMi42OFptMCwwIiAvPgogICAgICAgIDxwYXRoIGQ9Ik0yNS43MSwyMi42N2ExLjYsMS42LDAsMCwwLTEuNiwxLjZ2MTMuNmExLjYsMS42LDAsMCwwLDMuMiwwVjI0LjI3YTEuNiwxLjYsMCwwLDAtMS42LTEuNlptMCwwIiAvPgogICAgPC9nPgo8L3N2Zz4K", alt="")
                        | How it works
            include includes/_footer