doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_whom
            include includes/_header
            section.content.whom
                .whom_header
                    .header.header_large
                        | Now, who gets this card?
                form.whom_card(action="")
                    .whom_card_inner
                        .whom_card_form
                            .whom_card_label
                                | First name*
                            input(type="text")
                            .whom_card_label
                                | Last name*
                            input(type="text")
                            .whom_card_label
                                | Address*
                            input(type="text" placeholder="Country ...I")
                            input(type="text" placeholder="Address ...I")
                            input(type="text" placeholder="ZIP Code ...I")
                        .whom_card_form
                            .whom_card_label
                                | Sign the card
                                span optional
                            input(type="text")
                            .whom_card_label
                                | Choose ending
                                span optional
                            select.select7(placeholder="With love")
                                option
                                option With love
                                option Yours
                                option Hugs and Kisses
                                option Best wishes
                            input(type="text" placeholder="Type your text ...I")
                            .whom_card_label
                                span optional
                            textarea(rows="3" placeholder="Type a few nice words here and they will also appear on your card")
                        input.button.expanded.max(type="submit" value="save")
                    a.button(href="./play.html")
                            | send your card
            include includes/_footer