footer.footer
    | postcardactually.com
script(src="./bower_components/jquery/dist/jquery.min.js")
script(src="./js/jquery-select7.js")
if page=='start'
    script(src="./bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="./js/app.js")