header.head
    .head_inner
        .head_hamb(class=(page=='price')?"is_active":"")
            .head_hamb_inner
        a.head_logo(href="./")
            img(src="./img/logo.svg", alt="PostcardActually")
        select.select7.select7_dropdown.select7_remove_current.head_lang
            option en
            option sp
            option uk
    nav.head_nav(class=(page=='price')?"is_active":"")
        ul.menu
            li
                a(href="#") BLOG
            li(class=(page=='price')?"active":"")
                a(href="./price.html") PRICING
            li
                a(href="#") CONTACT
    ul.head_social
        li
            a(href="#")
                img(src="./img/social/vk.png" target="_blank" alt="VK")
        li
            a(href="#")
                img(src="./img/social/fb.png" target="_blank" alt="Facebook")
        li
            a(href="#")
                img(src="./img/social/yt.png" target="_blank" alt="YouTube")
        li
            a(href="#")
                img(src="./img/social/inst.png" target="_blank" alt="Instagram")
