header.head
    .head_hamb
        .head_hamb_inner
    a.head_logo(href="./")
        img(src="./img/logo.svg", alt="PostcardActually")
    nav.head_nav
        ul.menu
            li
                a(href="#") BLOG
            li(class=(page=='price')?"active":"")
                a(href="#") PRICING
            li
                a(href="#") CONTACT
    select.select7.select7_dropdown.select7_remove_current.head_lang
        option en
        option sp
        option uk
    ul.head_social
        li
            a(href="#")
                img(src="./img/social/vk.png" target="_blank" alt="VK")
        li
            a(href="#")
                img(src="./img/social/fb.png" target="_blank" alt="Facebook")
        li
            a(href="#")
                img(src="./img/social/yt.png" target="_blank" alt="YouTube")
        li
            a(href="#")
                img(src="./img/social/inst.png" target="_blank" alt="Instagram")
