doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_play
            include includes/_header
            section.content.play
                .play_plan.animated.fadeInLeft
                    table
                        tr
                            td
                                | Card+  delivery
                            td
                                | $ 3.25
                        tr
                            td
                                | Video views 25
                            td
                                | +$ 3
                        tr
                            td
                                | Your total
                            td
                                | $ 6.25
                    a.button(href="./plan.html")
                        | CHANGE VIEW PLAN
                .play_card.animated.fadeInRight
                    .actually_card
                    a.button.expanded.max(href="./check.html")
                        | play now
            include includes/_footer