- var page = 'start'
mixin card(img, title)
    .start_card
        .start_card_img
            img(src="//unsplash.it/212/148", alt=title)
            .start_card_actions
                a(href="./zoom.html")
                    img(src="./img/icons/zoom.svg", alt="Zoom")
        .start_card_title
            =title
doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap_start
            include includes/_header
            section.content.start
                .start_header.animated.fadeInDown
                    .header.header_medium
                        | Let’s start by choosing card occasion.
                .start_container.animated.fadeInUp
                    .start_cards
                        +card('', 'Birthday')
                        +card('', 'Christmas and New Year')
                        +card('', 'St Valentine’s Day')
                        +card('', 'Wedding')
                        +card('', 'Wedding Invitations')
                        +card('', 'Mother’s Day')
                        +card('', 'Father’s Day')
                        +card('', 'Easter')
                        +card('', 'Birthday')
                        +card('', 'Christmas and New Year')
                        +card('', 'St Valentine’s Day')
                        +card('', 'Wedding')
            include includes/_footer